<%include ../partials/header%>
<div class="jumbotron text-xs-center">
  <h1 style="color:rgb(0.0,1.0,0.0);" class="display-3">Thank You for the purchase!</h1>
  <p style="color:gray;" class="lead"><strong>Please check your email</strong> to access the <strong>Token</strong> for downloading your desired dataset.</p>
  <hr>
  <span style="color:green;">
  <p >
    Having trouble? <a style="color:blue;" href="">Contact us</a>
  </p>
  </span>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
</div>

<%include ../partials/footer%>

