
<%include partials/header%>

<head>
	<title>
		Chat with socket.io+nodejs+express
	</title>
	<style type="text/css">
	
	#users{
		
		/*width: 100px*/
		margin-right:33.33%;
		border: 2px white solid;
		height: 50px;
		font-size: 15px;
		/*padding-right: 100px;*/
		margin-top: 20px;
		margin-left:32.5%;
		
		}
		
	#chat
	{
		color:black;
		background: white;
		margin-left: 350px
		width: 33.33%;
		height: 350px;
		overflow: scroll;
	
	}
	
	#contentwrap
	{
		color:black;
		display: none;
	}
	
	
	#chatwrap
	{
		padding-top: 30px;
		padding-bottom:30px;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: 80px;
		margin-right: 80px;
		margin-top:5px;
		color:black;
		/*float: left;*/
		/*border-style: round;*/
		/*border-color: black;*/
		/*border: 5px;*/
		border:2px white solid;
		border-radius: 50px;
		width: 50%;
		height:50%;
		
	}
	
	.error
	{
		color: red;
	}
	
	.whisper
	{
		color: green;
		font-style: italic;
	}
	</style>
</head>
<body>
	<div id="nickwrap">
		<p id="nicknameerror"></p>
		<form id="setnick">
		
		<div style="width:129px;margin-left:610px;margin-bottom:5px;">
			<input class="form-control" type="text" id="nickname" value='<%=user.username%>' disabled /></input>
		</div>
		
			<input  class="btn btn-success" value="Start Chatting!" type="submit"/>
		</form>
	</div>
	
	
	<div style="margin-left: 330px;margin-top:20px;">
		<div id="chatwrap">
		
			<div id="chat"></div>
			
			<form id="sendmessage">
				<input style="margin-top:20px;height:40px;width:300px" type="textarea" id="message"/>
				<input style="height:40px; background:rgba(0, 181, 204, 1);color:black;" class="btn btn-primary;" value="Send" type="submit"/>
			</form>
		</div>
		
		
	
	</div>
		<div id="users">
		
		</div>
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	

		$(function(){//shorthand for document.ready
			var socket=io.connect();
			var $nickform=$('#setnick');
			var $nickerror=$('#nicknameerror');
			var $nickbox=$('#nickname');
			var $messageform=$('#sendmessage');
			var $messageip=$('#message');
			var $chat=$('#chat');
			var $users=$('#users');
			
			
				
			
			var ran=document.getElementById('nickname');
			$nickform.submit(function(e){
				e.preventDefault();
				if($nickbox.val()=='' || $nickbox.val()==" "||ran.value.indexOf(' ') >= 0)
				{
					alert("not allowed");
					return false;
				}
				socket.emit('new user',$nickbox.val(),function(data)/*calllback function*/{//to check whether its a valid nick name or not
					if(data){
						$('#nickwrap').fadeOut();
						$('#contentwrap').fadeIn();
					}
					else
					{
						$nickerror.html('That username is already taken...Try again!');
					}

				});
				$nickbox.val('');
			});
			$messageform.submit(function(e){
				
				//alert($messageip.val());
				e.preventDefault();
				//console.log($messageip.val());
				//alert($messageip.val());
				socket.emit('sendmessage',$messageip.val(),function(data){
					$chat.append('<span class="error"><b>'+data+"</span><Br>");		
				});
				$messageip.val("");//clear input field

			});
			/*socket.on('connect',function(){
				socket.emit('sendmessage',"hello server");
			});*/
			socket.on('newmessage',function(data){
				//console.log(data);
				if(data.nick){
				$chat.append('<span class="normal" style="font-size:20px"><b>'+data.nick+': </b>'+data.msg+"</span><Br>");
				}else{
					alert("Please Initiate 'Start Chatting'");
					}
			});
			socket.on('usernames',function(data){
				var str='<b style="color:yellow;">Connected Users<b><br>';
				for(var i=0;i<data.length;i++)
				{
					
					str+=data[i]+'<br/>';
					
				}
				$users.html(str);
			});
			socket.on('whisper',function(data){
				$chat.append('<span class="whisper"><b>'+data.nick+':-</b>'+data.msg+"</span><Br>");
			})
		});
	</script>
</body>