<%include ../partials/header%>

<div>
  <h1>This is seller's View - UNDER CONSTRUCTION</h1>
  <a href="/seller/sell" class='btn btn-lg btn-primary'>Sell Data</a>
  <br>
  
  <!--<a href="/general">Category View </a>-->
  <a href="/seller/mydata" class="btn btn-danger">Show my data</a>
</div>  
<%include ../partials/footer%>
