<%include ../partials/header%> 

<form  role="form" action="/download" method="POST">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="filepath"  type="text"  value=<%=filepath%> name="filepath">
			    		</div>
			    		
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Download file">
			    	</fieldset>
</form>
			    